* {
  font-size: 18px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.NavLink {
  display: inline-block;
  padding: 5px 10px;
  color: rgb(185, 185, 185);
  text-decoration: none; 
  transition: 200ms;
  background-color: inherit;
}

.NavLink.active {
  color: white;
}

.NavLink:hover {
  color: white;
}

.navbar {
  padding: 10px 0px;
  background-color: rgb(107, 31, 31);
}