.App {
  text-align: center;
  min-height: 100vh;
  font-size: 19px;
}

.Content {
  padding: 50px 10px;
}

.Link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  transition: 200ms;
  background-color: inherit;
  opacity: 0.7;
}

.NavLink {
  color: rgb(185, 185, 185);
}

.NavLink.active {
  color: black;
}

.NavLink:hover {
  color: black;
  opacity: 1;
}

.customNavbarClass {
  font-size: 20px;
  padding: 10px 0px;
}
