.BookNotes {
  text-align: justify;
  justify-content: center;
  display: flex;
}

.BookNotesImage {
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  max-width: 900px;
  border-radius: 10px;
}

.Subtitle {
  opacity: 0.8;
  font-size: 18px;
}

.Date {
  opacity: 0.6;
  font-size: 15px;
}

.ImageCaption {
  opacity: 0.8;
}

.Testing {
  color: #cccccc;
}

@media screen and (max-width: 600px) { 
  table thead {
    display: none !important;
  }
  table td {
    display: flex !important;
  }
  
  table td::before {
    content: attr(label) !important;
    font-weight: bold !important;
    width: 140px !important;
  }
}